/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 575px){
    html{
        font-size: 14px;
    }

    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 1.7441em;
    }
    .hero-content-left h1{
        font-size: 2.25rem;
        line-height: initial;
    }
    .mt--120{
        margin-top: -50px;
    }
    .pt-150{
      padding-top: 50px;
    }

    /*navbar*/
    .main-menu ul li{
        padding: 15px 0 0;
    }

    /*promo*/
    div[class*='col-']:not(:last-of-type){
        margin-bottom: 20px !important;
    }
    .row> div[class*='col-']:last-of-type{
        margin-bottom: 0;
    }
    .about-content-right{
        margin-top: 20px;
    }

    /*counter*/
    .counter{
        margin-top: 25px;
    }
    .single-card{
        padding: 10px 15px;
        margin-bottom: 25px;
        margin-left: 16px;
    }
    .single-card:nth-child(2n){
        top: 0;
    }

    /*client*/
    .client-section-wrap.d-flex{
        display: inherit !important;
    }

    /*subscribe form*/
    .subscribe-form{
        width: 100%;
    }

    .download-btn a.btn{
        margin: 7px 0;
    }

    /*Carousel Slider*/
    .owl-carousel .owl-nav button.owl-next{position: absolute; top: calc(50% - 60px); right: -10px; opacity: 1; font-size: 35px !important; z-index: 1;width: 53px;height: 57px;}
    .owl-carousel .owl-nav button.owl-prev{position: absolute; top: calc(50% - 60px); left: -10px; opacity: 1; font-size: 35px !important; z-index: 1;width: 53px;height: 57px;}
    [aria-label="Next"]{
        position: absolute;
        top: -4px;
        right: 20px;
    }

    [aria-label="Previous"]{
        position: absolute;
        top: -4px;
        right: 23px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {

    .mt--120{
        margin-top: -50px;
    }
    .pt-150{
        padding-top: 60px;
    }

    /*promo*/
    div[class*='col-']:not(:last-of-type){
        margin-bottom: 20px !important;
    }
    .row> div[class*='col-']:last-of-type{
        margin-bottom: 0;
    }
    .about-content-right{
        margin-top: 20px;
    }

    /*subscribe form*/
    .subscribe-form{
        width: 100%;
    }

    /*Carousel slider*/
    .owl-carousel .owl-nav button.owl-next{position: absolute; top: calc(50% - 60px); right: -30px; opacity: 1; font-size: 35px !important; z-index: 1;width: 70px;height: 74px;}
    .owl-carousel .owl-nav button.owl-prev{position: absolute; top: calc(50% - 60px); left: -30px; opacity: 1; font-size: 35px !important; z-index: 1;width: 70px;height: 74px;}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .mt--120{
        margin-top: -50px;
    }

    /*Carousel slider*/
    .owl-carousel .owl-nav button.owl-next{position: absolute; top: calc(50% - 60px); right: -38px;opacity: 1; font-size: 35px !important; z-index: 1;width: 70px;height: 74px;}
    .owl-carousel .owl-nav button.owl-prev{position: absolute; top: calc(50% - 60px); left: -38px;opacity: 1; font-size: 35px !important; z-index: 1;width: 70px;height: 74px;}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

    /*Carousel Slider*/
    .owl-carousel .owl-nav button.owl-next{position: absolute; top: calc(50% - 60px); right: -30px;opacity: 1; font-size: 35px !important; z-index: 1;width: 70px;height: 74px;}
    .owl-carousel .owl-nav button.owl-prev{position: absolute; top: calc(50% - 60px); left: -30px;opacity: 1; font-size: 35px !important; z-index: 1;width: 70px;height: 74px;}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
    /*Carousel Slider*/
    .owl-carousel .owl-nav button.owl-next{position: absolute; top: calc(50% - 60px); right: -30px;opacity: 1; font-size: 40px !important; z-index: 1;width: 70px;height: 74px;}
    .owl-carousel .owl-nav button.owl-prev{position: absolute; top: calc(50% - 60px); left: -30px;opacity: 1; font-size: 40px !important; z-index: 1;width: 70px;height: 74px;}

    [aria-label="Next"]{
        position: absolute;
        top: 1px;
        right: 30px;
    }

    [aria-label="Previous"]{
        position: absolute;
        top: 1px;
        right: 30px;
    }
}