@import "Header";

.App {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;

  &.dark-mode {
    background-color: #111;
    color: #898686;
  }

  .SmallDemo {
    margin-bottom: 5px;

    .card-body {
      padding: 5px 10px;
    }
  }

  .AppHeader {
    font-size: 1.5em;
    color: inherit; 
  }
}
