.App {
  @import "Header";
  .SmallDemo {
    margin-bottom: 5px;
    .card-body {
      padding: 5px 10px;
    }
  }
  .AppHeading {
    font-size: 1.5em;
  }
  ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}

}
